:root {
  --third-color: rgb(187, 255, 0);
}

html {
	background: linear-gradient(0deg, rgba(137,226,147,1) 100%, rgba(24,24,23,1) 0%);
}

.App {
	display: flex;
	justify-content: center;
	padding: 20px;
	background: linear-gradient(0deg, rgba(137,226,147,1) 0%, rgba(24,24,23,1) 100%);
}

.container {
	max-width: 700px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 0px;
}

.title {
	color: beige;
	grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: span 1;
	align-self: center;
	text-align: center;
}

.graphic {
	max-height: 300px;
	max-width: 500px;
	grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 2;
	align-self: center;
}

.indication {
	grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 1;
	align-self: center;
	text-align: center;
	margin: 0 10px;
	padding: 10px;
	color: var(--third-color);
	font-size: 18px;
}

.button-container {
	grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: span 1;
	align-self: center;
}

.registro {
	grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 4;
  grid-row-end: span 1;
	align-self: center;
	text-align: center;
	padding: 10px;
	color: white;
}

.user-name {
	grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 4;
  grid-row-end: span 1;
	align-self: center;
	text-align: center;
}

@media only screen and (max-width: 500px) {
  .container {
		display: flex;
		flex-direction: column;
		align-items: center;
  }  
}
